*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    /* background-color: #060c4f; */
    color: #fff;
    margin-top: 30px;
    background: rgb(124, 248, 246);
}

section
{
    padding: 20px;
    height: 50vh;
    background-color: #ffffff;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    color: #000;
    margin-bottom: 25px;
}

.interface
{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

header
{
    display: flex;
    justify-content: center;
}

form
{
    padding: 20px;
}

input[type="text"]
{
    border: 0.5px solid rgba(0, 0, 0, 0.211);
    width: 100%;
    padding: 5px;
}

input[type="button"]
{
    width: 100%;
    border: none;
    cursor: pointer;
    color: black;
    background-color: rgb(124, 248, 246);
    border-radius: 3px;
    transition: 0.3s;
}

input[type="button"]:hover
{
    transform: scale(1.01);
}

::-webkit-scrollbar{
    background-color: rgb(124, 248, 246);
}

::-webkit-scrollbar-thumb
{
    background-color: #fff;
    border-radius: 10px;
}